* {
  margin: 0;
  padding: 0;
}

h1 {
  text-align: center;
  margin: 50px auto;
}

img {
  width: 50px;
  height: 50px;
}
.container {
  background-color: bisque;
  width: 80vw;
  height: 70vh;
  margin: 10px auto;
  display: flex;
  justify-content: space-around;
  align-items: center;
  box-sizing: border-box;
}

.player ul li,
.com ul li {
  padding: 10px;
  list-style: none;
  align-items: center;
}

.player ul li img:hover {
  transition: 1s;
  transform: scale(2) rotate(360deg);
}

.com ul li img:hover {
  transform: 2s;
  transform: rotate(45deg);
}

.informasi {
  font-weight: 700;
  width: 30vmin;
  height: 10vmin;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 0.5vw solid gray;
  box-shadow: 0 0 10px gray;
  animation-delay: 1s;
}

.informasi:hover {
  transition: 1s;
  transform: scale(2);
}

.disableClick {
  pointer-events: none;
}

/* Container Dua */
.container-dua {
  width: 100px;
  height: 100px;
  margin: -80px auto;
  display: flex;
  justify-content: center;
  align-items: start;
}

.reset-game img {
  width: 50px;
  height: 50px;
}

.reset-game ul li {
  list-style: none;
}

.reset-game ul li:hover {
  transition: 1s;
  transform: scale(1.5) rotate(360deg);
}

/* Container Dua */

/* Responsive */
@media only screen and (max-width: 576px) {
  body {
    background-color: bisque;
  }

  h1 {
    text-shadow: 3px 3px 5px gray;
  }

  .container {
    box-sizing: border-box;
    width: 350px;
    height: 500px;
  }

  .player h3 {
    margin-top: -70px;
    margin-bottom: 30px;
    text-shadow: 3px 3px 5px gray;
  }

  .player img,
  .com img {
    width: 8vmax;
    height: 15vmin;
  }

  .com h3 {
    margin-top: -70px;
    margin-bottom: 30px;
    text-shadow: 3px 3px 5px gray;
  }

  .informasi {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2.5vmax;
    width: 20vmax;
    height: 30vmin;
    line-height: 1em;
    border: 0.5vw solid gray;
  }

  .reset-game img {
    width: 8vmax;
    height: 15vmin;
  }

  .player ul li img:hover {
    transition: 1s;
    transform: scale(1.5) rotate(360deg);
  }

  .reset-game ul li:hover {
    transition: 1s;
    transform: scale(1.1) rotate(360deg);
  }
}
/* Responsive */
