* {
  margin: 0;
  padding: 0;
}

h1 {
  text-align: center;
  margin: 50px auto;
}

img {
  width: 50px;
  height: 50px;
}
.container {
  background-color: bisque;
  width: 1000px;
  height: 600px;
  margin: 10px auto;
  display: flex;
  justify-content: space-around;
  align-items: center;
  box-sizing: border-box;
}

.player ul li,
.com ul li {
  padding: 10px;
  list-style: none;
  align-items: center;
}

.player ul li img:hover {
  transition: 1s;
  transform: scale(2) rotate(360deg);
}

.com ul li img:hover {
  transform: 2s;
  transform: rotate(45deg);
}

.informasi {
  font-weight: 700;
  width: 250px;
  height: 100px;
  text-align: center;
  line-height: 100px;
  border: 5px solid gray;
  box-shadow: 0 0 10px gray;
  animation-delay : 1s
}

.informasi:hover {
  transition:  1s;
  transform: scale(2);
}

.disableClick {
  pointer-events: none;
}

/* Container Dua */
.container-dua {
  width: 100px;
  height: 100px;
  margin: -80px auto;
  display: flex;
  justify-content: center;
  align-items: start;
}

.reset-game img {
  width: 50px;
  height: 50px;
}

.reset-game ul li {
  list-style: none;
}

.reset-game ul li:hover {
  transition: 1s;
  transform: scale(1.5) rotate(360deg);
}

/* Container Dua */
